<!-- <ul>
    <li *ngFor="let pais of paises">
        {{pais.name}} - {{pais.population | number}}
    </li>
</ul>
 -->

<!-- <div class="card-columns m-5">
    <div *ngFor="let item of nuevasCanciones" class="card border-success mb-3">
        <img [src]="item.images | noimage" class="card-img-top" alt="...">
        <div class="card-body text-success">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">
                <span *ngFor="let artist of item.artists "
                    class="badge badge-pill badge-secondary">{{artist.name}}</span>
            </p>
        </div>
    </div>
</div> -->
<app-loading *ngIf="loading"></app-loading>

<div *ngIf="error" class="alert alert-danger animated fadeIn">
    <h3>Error</h3>
    <p>{{mensajeError}}</p>
</div>

<app-tarjetas [items]="nuevasCanciones"></app-tarjetas>